@import "colors";
@import "animation";
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 82px;
}
body {
	position: relative;
	font-family: "Montserrat", sans-serif;
	background-color: $bg-color;
}
.blue-text {
	color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}
nav {
	text-transform: uppercase;
	z-index: 2;
	transition: background-color 0.6s;
	.nav-link {
		color: $color-white;
	}
	.navbar-brand {
		color: $color-white;
		font-weight: bold;
	}
	.nav-link:hover {
		color: $main-color;
	}
	.active {
		color: $main-color;
	}
	button .fa-bars {
		padding: 10px;
		color: $color-white;
	}
}
header {
	color: $color-white;
}
h1 {
	text-transform: uppercase;
	font-size: 30px;
}
h2 {
	text-align: center;
	text-transform: uppercase;
}
p {
	font-size: 14px;
}
.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}
.hero-img {
	position: relative;
	height: 100vh;
	background-image: url("../AdvancedWebPage/pics/playstation-640.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
}
.hero-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: -10;
}
.hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	height: 100%;
	z-index: 5;
	padding: 10px;
}
.btn-outline-light {
	text-transform: uppercase;
}
.fa-chevron-down {
	position: absolute;
	font-size: 20px;
	bottom: 20px;

	left: 50%;
	transform: translatex(-50%);
	color: $color-white;
}
.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 14px;
	}
	// .aboutus-hover {
	// 	// transition: color 0.3s;
	// }
	.aboutus-hover:hover {
		color: $main-color;
	}
}
.aboutus-hero {
	position: relative;
	background-image: url(../AdvancedWebPage/pics/technology_640.jpg);
	background-position: center;
	background-size: cover;
	color: $aboutus-section;
	z-index: 0;
	.aboutUs-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #000000, $alpha: 0.7);

		z-index: -5;
	}
	.aboutus-hero-item {
		margin: 10px 0;
		i {
			font-size: 36px;
		}
		.aboutus-hero-title {
			font-size: 24px;
		}
	}
}
.portfolio {
	.carousel-item {
		position: relative;
		height: 600px;
	}
	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		padding: 40px 0;
		background-color: rgba($color: #000000, $alpha: 0.7);
	}
	.carousel-indicators {
		padding-bottom: 20px;
	}
}
.price-box {
	margin: 25px 10px;
	padding: 25px;
	background-color: $color-white;
	box-shadow: 5px 5px 5px #666;
	transition: transform 0.5s ease-in-out;
	h3 {
		color: $main-color;
		text-transform: uppercase;
	}
	span {
		font-weight: bold;
	}
	.price-tag {
		font-size: 30px;
		font-weight: bold;
	}
	i {
		font-size: 24px;
		padding: 0 5px;
	}
	button {
		padding: 10px 20px;
		text-transform: uppercase;
	}
}

.price-box:hover {
	transform: scale(1.05);
}
.price-info {
	margin-top: 30px;
	a {
		text-decoration: none;
	}
}
.team {
	position: relative;
	background-image: url(../AdvancedWebPage/pics/chairs-1920.jpg);
	background-position: center;
	background-size: 100vw;
	background-attachment: fixed;
	z-index: 1;

	.team-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		top: 0;
		z-index: -1;
	}

	h2 {
		color: $aboutus-section;
	}
}
.card-group {
	transition: transform 0.2s;
	img {
		height: 300px;
		object-fit: cover;
	}
	i {
		padding: 10px;
	}
}
.card:hover {
	transform: scale(0.96);
}
.card-title {
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.card-footer {
	i {
		margin: 0 10px;
		color: $main-color;
	}
}
.achievements {
	i {
		font-size: 48px;
		padding: 10px;
		color: $color-white;
		text-shadow: 0 0 5px #000;
	}
	.achievements-list {
		padding: 0 20px;
	}
	.achievement-number {
		font-size: 22px;
	}
	.achievement-text {
		font-size: 13px;
		text-transform: uppercase;
	}
}
.contact {
	position: relative;
	background-image: url("../AdvancedWebPage/pics/skyline_1280.jpg");
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
	z-index: 0;

	h2 {
		color: $bg-color;
		font-weight: bold;
	}

	.underline {
		background-color: $bg-color;
	}

	.contact-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 9, 27, 0.85);
		z-index: -5;
	}

	.contact-us {
		display: flex;
		align-items: center;
		color: $color-white;

		.contact-item {
			margin: 30px 0;

			h3 {
				margin-bottom: 15px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}

			.social-media {
				font-size: 26px;

				a {
					padding: 10px;
					color: $color-white;
				}

				a:hover {
					color: $bg-color;
				}
			}
		}
	}
}

@media (min-width: 375px) {
	h1 {
		font-size: 36px;
	}
	p {
		font-size: 16px;
	}
}
@media (min-width: 768px) {
	h1 {
		font-size: 42px;
	}
	p {
		font-size: 20px;
	}
	.card-group {
		.mx-3 {
			.card-img-top {
				height: 280px;
			}
			.card-body {
				height: 180px;
			}
		}
	}
}

@media (min-width: 992px) {
	nav {
		height: 82px;
	}
	.aboutus-hero {
		background-image: url(../AdvancedWebPage/pics/technology_1280.jpg);
	}
	.text-center {
		.price-info,
		.text-muted {
			font-size: 22px;
		}
	}
	.card-group {
		.mx-3 {
			.card-img-top {
				height: 260px;
			}
			.card-body {
				height: 200px;
			}
		}
	}
}

@media (min-width: 1200px) {
	header {
		.hero-img {
			background-image: url("../AdvancedWebPage/pics/playstation-1920.jpg");
		}
	}
}
